name: Continuous Integration

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        operating-system:
          - ubuntu-latest
        php-version:
          - '5.6'
          - '7.0'
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup PHP ${{ matrix.php-version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          tools: none
          ini-values: assert.exception=1, zend.assertions=1

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies (5.6 and 7.x)
        if: ${{ matrix.php-version != '8.0' }}
        run: composer install --no-interaction --prefer-dist

      - name: Install dependencies (8.0)
        if: ${{ matrix.php-version == '8.0' }}
        run: composer install --no-interaction --prefer-dist --ignore-platform-req=php

      - name: Run test suite
        run: ./vendor/bin/phpunit
